# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg
dist/
build/
*.tar.gz
*.zip

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal

# If you're using Docker:
*.container
*.log
*.pid
*.seed
*.sqlite3
*.sqlite3-journal

# If you're using pipenv:
Pipfile
Pipfile.lock

# If you're using pyenv:
.python-version

# If you're using celery:
celerybeat-schedule
celerybeat.pid

# If you're using coverage:
htmlcov/
.coverage
.coverage.*

# If you're using pytest:
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# If you're using mypy:
.mypy_cache/

# If you're using Jupyter notebooks:
.ipynb_checkpoints

# If you're using Environments in VSCode:
.vscode/
.venv/

# OS-specific
.DS_Store
Thumbs.db
